#s-about {
  padding: $gap-7 0px;
  background-color: $bg-main;

  @include responsive-desktop {
    padding: $gap-7 20px;
  }

  .grid-layout {
    display: flex;
    flex-direction: column;
    gap: $gap-5;

    > div {
      background-color: $bg-secondary;
      border: 2px solid $bg-border;
      padding: $gap-3;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @include responsive-desktop {
        gap: $gap-4;
      }

      /* Estilo para as imagens: foto-principal e foto-representante */
      .foto-principal,
      .foto-representante {
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 4px;
        height: 500px;

        @include responsive-desktop {
          height: 400px;
        }

        @include responsive-tablet {
          height: 350px;
        }

        @include responsive-mobile {
          width: 100%;
          height: 300px;
        }

        h3 {
          color: $bg-main;
          background-color: $color-white;
          padding: $gap-1;
          border-radius: 16px;
          width: 180px;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 500;
          margin: $gap-2;
        }
      }

      /* Backgrounds específicos para cada foto */
      .foto-principal {
        background-image: url("../image/IMG_3248.JPG");
      }

      .foto-representante {
        background-image: url("../image/perfil-alison.jpg");
      }

      /* Estilo para o conteúdo textual ao lado das imagens */
      div:nth-child(2) {
        width: 49%;

        @include responsive-desktop {
          width: 100%;
        }

        h4 {
          font-size: 2rem;
          font-weight: 500;
          color: $color-main;
        }

        p {
          font-size: 1.8rem;
          color: $color-gray;
          line-height: 160%;
          margin: $gap-4 0 $gap-5 0;
        }
      }
    }
  }
}
